body {
    font-family: Georgia, 'Times New Roman', Times, sans-serif;
}
h1 {
    background-color: black;
    color: #a78604;
    text-align: center;
}
img {
width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
h2,
h3 {
    color: #a78604;
    text-align: center;
}
strong {
    color: black;
}
.dis,
.menu {
    display: flex;
    justify-content: center;
  }
.menu li {
    text-align: left;
  }