body {
    font-family: Georgia, Times, 'Times New Roman', sans-serif;
}

h1 {
    color: #a78604;
    background: black;
    text-align: center;
}

h2 {
    color: #a78604;
    text-align: center;
}

img {
    width: 400px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.nav { 
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}
.nav li {
    display: inline-block;
    font-size: 20px;
    padding: 15px;
}